<!DOCTYPE html>
<html>
<head>
  <title>BasicAuth</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notice] %>
  <div style="color: green;"><%= flash[:notice] %></div>
<% end %>
<% if flash[:alert] %>
  <div style="color: red;"><%= flash[:alert] %></div>
<% end %>

<%= yield %>

</body>
</html>
